.context-menu {
    background: white;
    box-shadow: 10px 19px 20px rgba(0, 0, 0, 10%);
    position: absolute;
    top: 100% !important;
    z-index: 10;
    width: 52px;
}

.context-menu .BtnLnb {
    border: none;
    display: block;
    padding: 0.5em;
    text-align: left;
    width: 100%;
}

.context-menu .BtnLnb:hover {
    background: white;
}


.Ico0090Text {
    background-image: url('../assets/ico_0090_text.svg');
    background-size: cover !important;
}

.Ico0091Sound {
    background-image: url('../assets/ico_0091_sound.svg');
    background-size: cover !important;
}

.Ico0139Photo {
    background-image: url('../assets/ico_0139_photo.svg');
    background-size: cover !important;
}

.Ico0289Card {
    background-image: url('../assets/ico_0289_card.svg');
    background-size: cover !important;
}

.Ico0095Button {
    background-image: url('../assets/ico_0095_button.svg');
    background-size: cover !important;
}

.Ico0093Carousel {
    background-image: url('../assets/ico_0093_carousel.svg');
    background-size: cover !important;
}

.Ico0092Accordion {
    background-image: url('../assets/ico_0092_accordion.svg');
    background-size: cover !important;
}

.Ico0043Detail {
    background-image: url('../assets/ico_0043_detail.svg');
    background-size: cover !important;
}

.Ico0008Cal {
    background-image: url('../assets/ico_0008_cal.svg');
    background-size: cover !important;
}

.Ico0032Time {
    background-image: url('../assets/ico_0032_time.svg');
    background-size: cover !important;
}

.Ico0058Link {
    background-image: url('../assets/ico_0058_link.svg');
    background-size: cover !important;
}

.Ico0094Book {
    background-image: url('../assets/ico_0094_book.svg');
    background-size: cover !important;
}

.Ico0293Api {
    background-image: url('../assets/ico_0293_api.svg');
    background-size: cover !important;
}

.Ico0219Dashboard {
    background-image: url('../assets/ico_0219_dashboard.svg');
    background-size: cover !important;
}

.Ico0041Add {
    background-image: url('../assets/ico_0041_add.svg');
    background-size: cover !important;
}

.Ico0085ChatSimulation {
    background-image: url('../assets/ico_0085_chat_simulation.svg');
    background-size: cover !important;
}

.Ico0257ChatAgent {
    background-image: url('../assets/ico_0257_chat_agent.svg');
    background-size: cover !important;
}

.Ico0013CloseBold {
    background-image: url('../assets/ico_0013_close_bold.svg');
    background-size: cover !important;
}

.Ico0039MainQ {
    background-image: url('../assets/ico_0039_main_q.svg');
    background-size: cover !important;
}

.Ico0230User {
    background-image: url('../assets/ico_0230_user.svg');
    background-size: cover !important;
}

.Ico0096ArrowDownSolid {
    background-image: url('../assets/ico_0096_arrow_down_solid.svg');
    background-size: cover !important;
}

.box-container-trigger {
    width: 100%;
    height: 218px;
    padding-bottom: 12;
    background: white;
    border-radius: 4;
    border: 1px #CCCCCC solid;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    display: inline-flex;
}

.box-title-wrapper {
    align-self: stretch;
    height: 52px;
    padding-left: 16px;
    padding-right: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    display: flex;
}

.box-title-container {
    align-self: stretch;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    display: inline-flex;
}

.box-name-container {
    flex: 1 1 0;
    height: 20px;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
    display: flex;
}

.box-name-element {
    color: #1A1A1A;
    font-size: 14px;
    font-family: 'Noto Sans KR';
    font-weight: 500;
    line-height: 20px;
    word-wrap: break-word;
}

.box-icon-container {
    width: 24;
    height: 24;
    background: rgb(255, 255, 255, 0);
    border-radius: 6;
    justify-content: center;
    align-items: center;
    display: flex;
}

.box-icon-element {
    width: 18px;
    height: 18px;
    position: relative;
}

.box-info-container{
    align-self: stretch;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    display: inline-flex;
}

.box-info-element{
    color: #999999;
    font-size: 11px;
    font-family: 'Noto Sans KR';
    font-weight: 700;
    line-height: 14px;
    word-wrap: break-word;
}

.box-contents-wrapper{
    height: 64px;
    padding-left: 8px;
    padding-right: 8px;
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
    display: flex;
}

.box-content-wrapper{
    position: relative;
    height: 68px;
    background: #F7F7F7;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    display: flex;
}

.box-content-wrapper-blue{
    position: relative;
    height: 164px;
    background: #EBF3FF;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    display: flex;
}

.box-item-tag-wrapper{
    margin-left: -28px;
    width: 28px;
    height: 28px;
    padding: 4px;
    background: #808080;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.box-item-tag-wrapper-blue{
    margin-left: -28px;
    width: 28px;
    height: 28px;
    padding: 4px;
    background: #4E8EEB;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}


.box-item-tag-container{
    width: 20px;
    height: 20px;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.box-item-tag-element{
    width: 20px;
    height: 20px;
    position: relative;
}

.box-item-add-wrapper{
    position: absolute;
    bottom: -6px;
    left: 112px;    
    width: 20px;
    height: 20px;
    padding: 4px;
    background: white;
    border: 1px #CCCCCC solid;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.box-item-add-container{
    width: 12px;
    height: 12px;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}
.box-item-add-element{
    width: 12px;
    height: 12px;
    position: relative;
}
.box-item-content-wrapper{
    margin-top: -40px;
    padding: 8px;
    align-self: stretch;
    height: 68px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
    display: flex;
}
.box-item-title-wrapper{
    align-self: stretch;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    display: inline-flex;
}
.box-item-title-container{
    justify-content: flex-start;
    align-items: center;
    display: flex;
}
.box-item-title-element{
    color: #999999;
    font-size: 12px;
    font-family: 'Noto Sans KR';
    font-weight: 700;
    line-height: 16px;
    word-wrap: break-word;
}

.box-item-input-wrapper{
    align-self: stretch;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    display: inline-flex;
}
.box-item-input-container{
    flex: 1 1 0;
    height: 32px;
    padding: 8px;
    background: #FCFCFC;
    border-radius: 4px;
    border: 1px #E0E0E0 dotted;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    display: flex;
}
.box-item-input-element{
    width: 16px;
    height: 16px;
    position: relative;
}